
body {
    font-family: 'Arial';
    color: black;
    font-size: larger;
    margin: 40px
}
.wrapper {
    width: 2500px;
    margin: 150px;
}
.title {
    font-size: large;
}
.container li {
    list-style: square;
    margin: 20px;
}
.container {
    font-style: arial;
    padding: 50px;
}
.name {
    font-size: larger;
}
.info {
  float: right;
  right: 70%;
  padding: 50px;
}